* {
    margin: 0;
    padding: 0;
}
html {
    scrollbar-width: none;
    scroll-behavior: smooth;
}
body {
    font-family: 'Quicksand';
    box-sizing: border-box;
    min-height: 300vh;
    overflow: auto;
}
body::-webkit-scrollbar {
    display: none;
}
.load-page, .design, .accessories {
    width: 100%;
    height: 100vh;
    background-color: rgb(26,26,26);
    background-image: linear-gradient(90deg, rgba(26,26,26,1) 0%, rgba(51,51,51,1) 35%, rgba(64,64,64,1) 100%);
}
.headphones-img {
    height: 72vh;
    width: 30%;
    position: absolute;
    top: 18vh;
    right: 5vw;
    background-image: url("img/headphones.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
nav {
    width: 100%;
    min-height: 30px;
    padding-top: 30px;
    text-align: center;
}
nav img {
    position: absolute;
    top: 36px;
    left: 5vw;
    height: 30px;
    float: left;
}
nav a {
    display: inline-block;
    padding: 6px 12px;
    margin: 0 12px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: #E6E6E6;
}
nav a:nth-child(2) {
    margin-left: 200px;
}
nav a.login, nav a.register {
    float: right;
}
nav a.register {
    margin-right: 5vw;
    border: 1px solid #E6E6E6;
    border-radius: 20px;
}
.load-page h1 {
    width: 40vw;
    font-family: 'Pacifico';
    font-size: 62px;
    color: #E6E6E6;
    margin-left: 5vw;
    margin-top: 10vh;
}
hr.line-style1 {
    border: 0;
    width: 45vw;
    height: 2px;
    background-color: #E6E6E6;
    opacity: 0.5;
    margin-left: 5vw;
    margin-top: 30px;
}
.load-page h2, .load-page h3 {    
    width: 45vw;
    font-size: 50px;
    color: #E6E6E6;
    margin-left: 5vw;
    margin-top: 30px;
}
.load-page h3 {
    font-size: 26px;
    font-weight: 400;
    margin-top: 20px;
}
a.more, a.more2 {
    display: inline-block;
    width: 180px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    margin-left: 5vw;
    margin-top: 30px;
    padding: 10px 0;
    color: #E6E6E6;
    background-color: #4F4F4F;
    border-radius: 20px;
}
.more-btn {
    font-size: 20px;
    color: #E6E6E6;
    margin-left: 5vw;
    margin-top: 50px;
}
.more-btn p {
    float: left;
    margin-right: 6px;
    cursor: pointer;
}
.wrapper {
    width: 90vw;
    margin-left: 5vw;
}
.features, .models {
    width: 100%;
    height: 100vh;
    background-color: #E6E6E6;
    background-color: #FFFFFF;
    background-image: linear-gradient(315deg, #FFFFFF 0%, #D7E1EC 74%);
}
.features h1, .design h1, .models h1 {
    font-family: 'Pacifico';
    font-size: 86px;
    letter-spacing: 3px;
    padding-top: 25px;
    color: #4F4F4F;
}
hr.line-style2, hr.line-style3 {
    border: 0;
    width: 45vw;
    height: 2px;
    background-color: #4f4f44;
    opacity: 0.5;
    margin-top: 20px;
}
.features h2, .design h2 {
    width: 45vw;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 35px;
    padding-top: 30px;
    color: #4F4F4F;
}
a.more2 {
    margin-left: 0;
}
.features img {
    width: 47vw;
    position: absolute;
    top: 120vh;
    left: 59vw;
    overflow: hidden;
}
.design h1, .design h2 {
    color: #E6E6E6;
}
/*.design h2 {
    width: 30vw;
}*/
hr.line-style3 {
    background-color: #E6E6E6;
}
.models {
    height: 120vh;
}
.models h1 {
    text-align: center;
}
.img-slide {
    width: 62vw;
    position: absolute;
    top: 371vh;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.img-slide img {
    width: 100%;
}
.models i {
    position: relative;
    top: 36%;
    left: 5%;
    font-size: 30px;
    text-align: center;
    padding: 15px 16px;
    border-radius: 50%;
    color: #E6E6E6;
    background-color: #4F4F4F;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    cursor: pointer;
    transition: 0.2s;
}
.models i:nth-child(4) {
   left: 88%;
}
.models i:hover {
    opacity: 0.9;
}

/* SCROLL EFFECT */
.js-scroll {
    opacity: 0;
    transition: opacity 500ms;
  }
.js-scroll.scrolled {
    opacity: 1;
}
.scrolled.fade-in {
    animation: fade-in 0.9s ease-in-out both;
}
.scrolled.fade-in-bottom {
    animation: fade-in-bottom 0.8s ease-in-out both;
}
.scrolled.slide-left {
    animation: slide-in-left 0.8s ease-in-out both;
}
.scrolled.slide-right {
    animation: slide-in-right 0.8s ease-in-out both;
}
@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
@keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(100px);
      transform: translateY(100px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
}
@keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-100px);
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
}
@keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(100px);
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
}

@media screen and (max-width: 1280px) {

}